* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100%-48px);
  margin: 0 auto;
}

.btn {
  height: 56px;
  display: inline-block;
  min-width: 130px;
  text-align: center;
  line-height: 56px;
  border: 1px solid #000958;
  border-radius: 9999px;
}

a {
  text-decoration: none;
}

.btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  margin-left: 10px;
}

.heading {
  color: #000958;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
}

.desc {
  color: #656689;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

/* header */

.header {
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0 26px 0;
}

.navbar__list {
  display: flex;
}

.header-action__btn {
  min-width: 118px;
  height: 50px;
  line-height: 50px;
  margin-left: 15px;
}

.navbar__link,
.header-action__btn {
  padding: 0 13px;
  color: #5e6085;
  font-size: 14px;
  font-weight: 500;
  /* line-height: 14px; */
}

.navbar__link:hover,
.active,
.header-action__btn {
  font-weight: 600;
  color: #000958;
}

/* hero */
.hero {
  margin-top: 74px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  width: 44%;
}

.hero__media {
  width: 47%;
  position: relative;
  padding-bottom: 94px;
}
.hero__wrap {
  width: 388px;
  height: 490px;
  position: relative;
  border-radius: 16px;
  background: #FE997B;
  border: 3px solid #fff;
}

.hero__img {
  width: 388px;
  height: 488px;
  object-fit: cover;
  border-radius: 16px;
}

.hero__derco--left {
  position: absolute;
  left: 375px;
  top: 17px;
  width: 50px;
  height: 100px;
  z-index: -1;
}

.hero__derco--right {
  position: absolute;
  left: -58px;
  top: 248px;
  width: 230px;
  height: 230px;
  z-index: -1;
}

.hero__wrap-small {
  position: absolute;
  right: 0;
  top: 310px;
  border: 2px solid #f5c8ca;
  border-radius: 16px;
  background: #FAA7AD;
  width: 186px;
  height: 244px;
}

.hero__img--small {
  position: absolute;
  width: 186px;
  height: 220px;
  object-fit: cover;
  top: 22px;
}

.hero__pet {
  position: absolute;
  width: 250px;
  height: 156px;
  background: #fff;
  padding: 18px 14px;
  border-radius: 10px;
  bottom: 0;
  left: 129px;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__image--pet {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
}

.hero__pet-top {
  width: 40px;
  height: 40px;
  background: #FEC23F;
  border-radius: 10px;
  margin-right: 10px;
}

.hero__pet-bottom {
  width: 40px;
  height: 40px;
  background: #C6E2FA;
  border-radius: 10px;
  margin-right: 10px;
}

.hero__box--pet {
  display: flex;
}

.hero__line {
  display: block;
  width: 118px;
  height: 4px;
  background: #e7e7e7;
  border-radius: 10px;
}

.hero__line--center {
  height: 2px;
  width: 222px;
  margin: 20px 0;
}

.hero__line--top {
  margin-top: 7px;
}

.hero__line--bottom {
  width: 39px;
  margin-top: 6px;
}


/* hero content */

.hero__heading {
  color: #000958;
  font-size: 66px;
  font-weight: 800;
  line-height: 76px; /* 115.152% */
}

.hero__desc {
  max-width: 391px;
  color: #656689;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  margin-top: 24px;
  /* tạo dấu 3 chấm */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 189px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background: #FF5B2E;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  border-color: #FF5B2E;
}

.hero__cta-link {
  color: #000958;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
  margin-left: 24px;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

/* about */

/* about content */
.about {
  margin-top: 77px;
  padding: 53px 0;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 146px;
}

.about__content {
  display: block;
}

.about__label {
  color: #5E6085;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px; /* 100% */
}

.about__heading {
  max-width: 446px;
  margin-top: 15px;
}

.about_checklist-item {
  display: flex;
  color: #48496A;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px; /* 100% */
}

.about__desc {
  max-width: 431px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 34px;
}

.about__checklist {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  gap: 32px;
  position: relative;
  margin-top: 54px;
}

.about_checklist-item::before {
  content: "";
  width: 24px;
  height: 24px;
  background: #FF5D31;
  border-radius: 4px;
  margin-right: 10px;
}

.about_checklist-item::before:first-child {
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about_checklist-item::after {
  content: url(https://sondnpt00343.github.io/htmlcss-project-04/assets/icons/check.svg);
  position: absolute;
  rotate: 0deg;
}

.about_checklist-item:hover::before,
.about_checklist-item:hover::after {
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  cursor: pointer;
}

.about_checklist-item:first-child::after {
  top: 2px;
  left: 5px;
}

.about_checklist-item:nth-child(2)::after {
  top: 2px;
  left: 259px;
}

.about_checklist-item:nth-child(3)::after {
  top: 58px;
  left: 5px;
}

.about_checklist-item:last-child::after {
  top: 58px;
  left: 259px;
}

/* about media */

.about__media {
  position: relative;
}

.about__card {
  position: absolute;
  top: 157px;
  width: 136px;
  height: 156px;
  background: #5BD6E2;
  border-radius: 10px;
  padding: 31px 26px 29px 26px;
}

.about__card-img {
  position: absolute;
  right: -32px;
  top: -39px;
}

.about__card-title {
  color: #FFF;
  font-size: 42px;
  font-weight: 700;
  font-family: Sora;
}

.about__card-desc {
  color: #C6F4F9;
  font-size: 14px;
  font-weight: 400;
  margin-top: 14px;
}

.about__wrap-img::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: auto 0 0 0;
   /* bottom: 0; */
   /* right: 0; */
  display: block;
  width: 494px;
  height: 336px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  border-radius: 16px;
}

.about__wrap {
  margin-left: 92px;
}

.about__img {
  width: 450px;
  display: block;
  margin: 0 22px;
}

.about__derco {
  position: absolute;
  top: 149px;
  right: -50px;
  z-index: -1;
}

.about__wrap {
  position: relative;
  width: 494px;
  margin-left: auto;
}

/*  */